#drum-machine {
  background-color: black;
}
#display {
  height: 25vh;
  display: flex;
  color:coral;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  
  
}

.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9vw;
  margin-bottom: 1vh;
  background-color: #118800;
  align-items: center;
  cursor: pointer;
}
.drum-pad:hover{
  background-color:lime;
}
@media screen and (max-width: 1024px){
  #drum-pads{
    grid-template-columns: repeat(2,1fr);
   
  }
  
}